body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size:40px;
}

div img{
    height: auto;
    width:700px;
   
}

p,li{
    font-size: 20px;
}

.ul-index{
    text-align: center;
    font-size:30px;
}